.tagcloud {
    --num: 32;
    --r: 140px;
    position: relative;
    transform-style: preserve-3d;
    counter-reset: index;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    line-height: 30px;
    font-size: 24px;
    width: 30px;
    aspect-ratio: 1;
    outline: 2px solid white;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    background: darkblue;
    opacity: .9;
    transition: background 200ms;
}

.tag:hover {
    background: hsl(100deg 60% 50%);
    opacity: 1;
}

.tag::after {
    counter-increment: index 1;
    content: counter(index, decimal-leading-zero);
}

.tag {
    --phi: acos((2 * var(--i) - 1) / var(--num) - 1);
    --theta: calc(sqrt(var(--num) * pi) * var(--phi));
    --x: calc(var(--r) * cos(var(--theta)) * sin(var(--phi)));
    --y: calc(var(--r) * sin(var(--theta)) * sin(var(--phi)));
    --z: calc(var(--r) * cos(var(--phi)));
    transform: translate(-50%, -50%) translate3d(var(--x, 0), var(--y, 0), var(--z, 0)) var(--rotate3d-transpose, rotate(0));
}

li:nth-child(1) {--i: 1;}
li:nth-child(2) {--i: 2;}
li:nth-child(3) {--i: 3;}
li:nth-child(4) {--i: 4;}
li:nth-child(5) {--i: 5;}
li:nth-child(6) {--i: 6;}
li:nth-child(7) {--i: 7;}
li:nth-child(8) {--i: 8;}
li:nth-child(9) {--i: 9;}
li:nth-child(10) {--i: 10;}
li:nth-child(11) {--i: 11;}
li:nth-child(12) {--i: 12;}
li:nth-child(13) {--i: 13;}
li:nth-child(14) {--i: 14;}
li:nth-child(15) {--i: 15;}
li:nth-child(16) {--i: 16;}
li:nth-child(17) {--i: 17;}
li:nth-child(18) {--i: 18;}
li:nth-child(19) {--i: 19;}
li:nth-child(20) {--i: 20;}
li:nth-child(21) {--i: 21;}
li:nth-child(22) {--i: 22;}
li:nth-child(23) {--i: 23;}
li:nth-child(24) {--i: 24;}
li:nth-child(25) {--i: 25;}
li:nth-child(26) {--i: 26;}
li:nth-child(27) {--i: 27;}
li:nth-child(28) {--i: 28;}
li:nth-child(29) {--i: 29;}
li:nth-child(30) {--i: 30;}
li:nth-child(31) {--i: 31;}
li:nth-child(32) {--i: 32;}
