.tagcloud {
    --num: 24;
    --r: 140px;
    position: relative;
    transform-style: preserve-3d;
    counter-reset: index;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    line-height: 30px;
    font-size: 24px;
    width: 30px;
    aspect-ratio: 1;
    outline: 2px solid white;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    background: darkblue;
    opacity: .9;
    transition: background 200ms;
}

.tag:hover {
    background: hsl(.2turn 60% 50%);
    opacity: 1;
}

.tag::after {
    counter-increment: index 1;
    content: counter(index, decimal-leading-zero);
}

.tag {
    --phi: acos((2 * var(--i) - 1) / var(--num) - 1);
    --theta: calc(sqrt(var(--num) * pi) * var(--phi));
    --x: calc(var(--r) * cos(var(--theta)) * sin(var(--phi)));
    --y: calc(var(--r) * sin(var(--theta)) * sin(var(--phi)));
    --z: calc(var(--r) * cos(var(--phi)));
    transform: translate(-50%, -50%) translate3d(var(--x, 0), var(--y, 0), var(--z, 0)) var(--rotate3d-transpose, rotate(0));
}
